In [85]:
import tensorflow as tf

import pandas as pd
import numpy as np

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [86]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [87]:
data.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [88]:
data.Fare.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [89]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [90]:
data.Survived.unique()

array([0, 1], dtype=int64)

In [91]:
data.Pclass.unique()

array([3, 1, 2], dtype=int64)

In [92]:
data.Sex.unique()

array(['male', 'female'], dtype=object)

In [93]:
data.SibSp.unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [94]:
data.Parch.unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [96]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [97]:
data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [98]:
cabin = data.pop('Cabin')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [99]:
data = data.dropna()
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [100]:
data.pop('Name')
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S

In [101]:
data.pop('Ticket')
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [102]:
train, test = train_test_split(data, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)

print(len(train))
print(len(val))
print(len(test))

455
114
143

In [103]:
def df_to_dataset(df, shuffle=False, batch_size=32):
    df = df.copy()
    labels = df.pop('Survived')
    ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(df))
    ds = ds.batch(batch_size)
    return ds

In [104]:
train_ds = df_to_dataset(train, shuffle=True)
val_ds = df_to_dataset(val)
test_ds = df_to_dataset(test)

In [107]:
feature_columns = []

for header in ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']:
    feature_columns.append(feature_column.numeric_column(header))
    
age = feature_column.numeric_column('Age')
age_buckets = feature_column.bucketized_column(age, boundaries=[10, 20, 30, 40, 50, 60, 70])
feature_columns.append(age_buckets)

sex = feature_column.categorical_column_with_vocabulary_list('Sex', ['male', 'female'])
sex_one_hot = feature_column.indicator_column(sex)
feature_columns.append(sex_one_hot)

embarked = feature_column.categorical_column_with_vocabulary_list('Embarked', ['S', 'C', 'Q'])
embarked_one_hot = feature_column.indicator_column(embarked)
feature_columns.append(embarked_one_hot)

In [108]:
feature_layer = layers.DenseFeatures(feature_columns)

In [110]:
model = tf.keras.Sequential([
    feature_layer,
    layers.Dense(128, activation='relu'),
    layers.Dense(128, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(train_ds, validation_data=val_ds, epochs=100)

Epoch 1/100
15/15 [==============================] - 0s 31ms/step - loss: 1.8709 - accuracy: 0.4790 - val_loss: 0.9887 - val_accuracy: 0.6754
Epoch 2/100
15/15 [==============================] - 0s 18ms/step - loss: 0.9780 - accuracy: 0.6712 - val_loss: 0.6369 - val_accuracy: 0.7018
Epoch 3/100
15/15 [==============================] - 0s 19ms/step - loss: 0.6952 - accuracy: 0.6673 - val_loss: 0.6794 - val_accuracy: 0.6316
Epoch 4/100
15/15 [==============================] - 0s 18ms/step - loss: 0.6004 - accuracy: 0.7008 - val_loss: 0.6952 - val_accuracy: 0.6579
Epoch 5/100
15/15 [==============================] - 0s 19ms/step - loss: 0.6188 - accuracy: 0.6836 - val_loss: 0.7379 - val_accuracy: 0.6316
Epoch 6/100
15/15 [==============================] - 0s 19ms/step - loss: 0.6225 - accuracy: 0.6746 - val_loss: 0.7302 - val_accuracy: 0.6316
Epoch 7/100
15/15 [==============================] - 0s 20ms/step - loss: 0.6185 - accuracy: 0.6774 - val_loss: 0.7089 - val_accuracy: 0.6491
Epoch 8/100
15/15 [==============================] - 0s 18ms/step - loss: 0.6068 - accuracy: 0.6877 - val_loss: 0.6910 - val_accuracy: 0.6404
Epoch 9/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5931 - accuracy: 0.6933 - val_loss: 0.6748 - val_accuracy: 0.6842
Epoch 10/100
15/15 [==============================] - 0s 20ms/step - loss: 0.5784 - accuracy: 0.7165 - val_loss: 0.6698 - val_accuracy: 0.7018
Epoch 11/100
15/15 [==============================] - 0s 19ms/step - loss: 0.5654 - accuracy: 0.7303 - val_loss: 0.6620 - val_accuracy: 0.7018
Epoch 12/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5516 - accuracy: 0.7402 - val_loss: 0.6605 - val_accuracy: 0.6930
Epoch 13/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5405 - accuracy: 0.7395 - val_loss: 0.6500 - val_accuracy: 0.6754
Epoch 14/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5279 - accuracy: 0.7486 - val_loss: 0.6461 - val_accuracy: 0.6754
Epoch 15/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5170 - accuracy: 0.7621 - val_loss: 0.6381 - val_accuracy: 0.6754
Epoch 16/100
15/15 [==============================] - 0s 18ms/step - loss: 0.5075 - accuracy: 0.7713 - val_loss: 0.6353 - val_accuracy: 0.6754
Epoch 17/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4989 - accuracy: 0.7712 - val_loss: 0.6328 - val_accuracy: 0.6754
Epoch 18/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4874 - accuracy: 0.7824 - val_loss: 0.6230 - val_accuracy: 0.6754
Epoch 19/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4819 - accuracy: 0.7943 - val_loss: 0.6205 - val_accuracy: 0.6930
Epoch 20/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4742 - accuracy: 0.8008 - val_loss: 0.6181 - val_accuracy: 0.6930
Epoch 21/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4672 - accuracy: 0.8037 - val_loss: 0.6137 - val_accuracy: 0.7018
Epoch 22/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4639 - accuracy: 0.8034 - val_loss: 0.6109 - val_accuracy: 0.7018
Epoch 23/100
15/15 [==============================] - 0s 20ms/step - loss: 0.4563 - accuracy: 0.8080 - val_loss: 0.6210 - val_accuracy: 0.7018
Epoch 24/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4578 - accuracy: 0.8138 - val_loss: 0.6047 - val_accuracy: 0.7193
Epoch 25/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4358 - accuracy: 0.8171 - val_loss: 0.6144 - val_accuracy: 0.7193
Epoch 26/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4503 - accuracy: 0.8144 - val_loss: 0.6161 - val_accuracy: 0.7368
Epoch 27/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4382 - accuracy: 0.8240 - val_loss: 0.6148 - val_accuracy: 0.7368
Epoch 28/100
15/15 [==============================] - 0s 20ms/step - loss: 0.4335 - accuracy: 0.8244 - val_loss: 0.6135 - val_accuracy: 0.7368
Epoch 29/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4357 - accuracy: 0.8236 - val_loss: 0.6112 - val_accuracy: 0.7368
Epoch 30/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4290 - accuracy: 0.8235 - val_loss: 0.6081 - val_accuracy: 0.7368
Epoch 31/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4259 - accuracy: 0.8254 - val_loss: 0.6128 - val_accuracy: 0.7368
Epoch 32/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4264 - accuracy: 0.8288 - val_loss: 0.6103 - val_accuracy: 0.7368
Epoch 33/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4219 - accuracy: 0.8294 - val_loss: 0.6052 - val_accuracy: 0.7368
Epoch 34/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4193 - accuracy: 0.8249 - val_loss: 0.6020 - val_accuracy: 0.7368
Epoch 35/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4176 - accuracy: 0.8242 - val_loss: 0.5928 - val_accuracy: 0.7456
Epoch 36/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4133 - accuracy: 0.8248 - val_loss: 0.5874 - val_accuracy: 0.7456
Epoch 37/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4099 - accuracy: 0.8248 - val_loss: 0.5873 - val_accuracy: 0.7456
Epoch 38/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4076 - accuracy: 0.8257 - val_loss: 0.5882 - val_accuracy: 0.7544
Epoch 39/100
15/15 [==============================] - 0s 19ms/step - loss: 0.4045 - accuracy: 0.8251 - val_loss: 0.5841 - val_accuracy: 0.7544
Epoch 40/100
15/15 [==============================] - 0s 18ms/step - loss: 0.4007 - accuracy: 0.8257 - val_loss: 0.5764 - val_accuracy: 0.7544
Epoch 41/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3975 - accuracy: 0.8261 - val_loss: 0.5735 - val_accuracy: 0.7544
Epoch 42/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3953 - accuracy: 0.8255 - val_loss: 0.5698 - val_accuracy: 0.7544
Epoch 43/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3914 - accuracy: 0.8277 - val_loss: 0.5675 - val_accuracy: 0.7544
Epoch 44/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3895 - accuracy: 0.8343 - val_loss: 0.5640 - val_accuracy: 0.7632
Epoch 45/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3868 - accuracy: 0.8339 - val_loss: 0.5604 - val_accuracy: 0.7632
Epoch 46/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3845 - accuracy: 0.8339 - val_loss: 0.5563 - val_accuracy: 0.7632
Epoch 47/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3809 - accuracy: 0.8343 - val_loss: 0.5528 - val_accuracy: 0.7632
Epoch 48/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3776 - accuracy: 0.8390 - val_loss: 0.5578 - val_accuracy: 0.7632
Epoch 49/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3766 - accuracy: 0.8390 - val_loss: 0.5614 - val_accuracy: 0.7632
Epoch 50/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3745 - accuracy: 0.8323 - val_loss: 0.5540 - val_accuracy: 0.7632
Epoch 51/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3722 - accuracy: 0.8414 - val_loss: 0.5500 - val_accuracy: 0.7632
Epoch 52/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3696 - accuracy: 0.8396 - val_loss: 0.5437 - val_accuracy: 0.7632
Epoch 53/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3658 - accuracy: 0.8458 - val_loss: 0.5378 - val_accuracy: 0.7632
Epoch 54/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3645 - accuracy: 0.8458 - val_loss: 0.5385 - val_accuracy: 0.7719
Epoch 55/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3630 - accuracy: 0.8520 - val_loss: 0.5315 - val_accuracy: 0.7807
Epoch 56/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3605 - accuracy: 0.8504 - val_loss: 0.5233 - val_accuracy: 0.7895
Epoch 57/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3583 - accuracy: 0.8486 - val_loss: 0.5210 - val_accuracy: 0.7807
Epoch 58/100

15/15 [==============================] - 0s 19ms/step - loss: 0.3561 - accuracy: 0.8486 - val_loss: 0.5186 - val_accuracy: 0.7895
Epoch 59/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3533 - accuracy: 0.8486 - val_loss: 0.5137 - val_accuracy: 0.7895
Epoch 60/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3535 - accuracy: 0.8486 - val_loss: 0.5145 - val_accuracy: 0.7895
Epoch 61/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3493 - accuracy: 0.8486 - val_loss: 0.5099 - val_accuracy: 0.7895
Epoch 62/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3476 - accuracy: 0.8536 - val_loss: 0.5089 - val_accuracy: 0.7982
Epoch 63/100
15/15 [==============================] - 0s 22ms/step - loss: 0.3464 - accuracy: 0.8542 - val_loss: 0.5092 - val_accuracy: 0.7895
Epoch 64/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3441 - accuracy: 0.8542 - val_loss: 0.5044 - val_accuracy: 0.7982
Epoch 65/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3412 - accuracy: 0.8542 - val_loss: 0.5175 - val_accuracy: 0.7982
Epoch 66/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3402 - accuracy: 0.8542 - val_loss: 0.5186 - val_accuracy: 0.7982
Epoch 67/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3388 - accuracy: 0.8607 - val_loss: 0.5163 - val_accuracy: 0.8070
Epoch 68/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3361 - accuracy: 0.8633 - val_loss: 0.5112 - val_accuracy: 0.8070
Epoch 69/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3333 - accuracy: 0.8633 - val_loss: 0.5144 - val_accuracy: 0.8070
Epoch 70/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3319 - accuracy: 0.8633 - val_loss: 0.5172 - val_accuracy: 0.8070
Epoch 71/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3315 - accuracy: 0.8654 - val_loss: 0.5135 - val_accuracy: 0.8070
Epoch 72/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3296 - accuracy: 0.8658 - val_loss: 0.5088 - val_accuracy: 0.8070
Epoch 73/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3271 - accuracy: 0.8702 - val_loss: 0.5103 - val_accuracy: 0.8070
Epoch 74/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3256 - accuracy: 0.8618 - val_loss: 0.5114 - val_accuracy: 0.8070
Epoch 75/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3237 - accuracy: 0.8673 - val_loss: 0.5098 - val_accuracy: 0.8070
Epoch 76/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3217 - accuracy: 0.8655 - val_loss: 0.5072 - val_accuracy: 0.8070
Epoch 77/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3204 - accuracy: 0.8673 - val_loss: 0.5081 - val_accuracy: 0.8070
Epoch 78/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3189 - accuracy: 0.8768 - val_loss: 0.5080 - val_accuracy: 0.8070
Epoch 79/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3187 - accuracy: 0.8856 - val_loss: 0.5088 - val_accuracy: 0.8070
Epoch 80/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3156 - accuracy: 0.8908 - val_loss: 0.5090 - val_accuracy: 0.8070
Epoch 81/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3138 - accuracy: 0.8842 - val_loss: 0.5087 - val_accuracy: 0.8158
Epoch 82/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3153 - accuracy: 0.8881 - val_loss: 0.5108 - val_accuracy: 0.8158
Epoch 83/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3140 - accuracy: 0.8817 - val_loss: 0.5087 - val_accuracy: 0.8158
Epoch 84/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3099 - accuracy: 0.8847 - val_loss: 0.5108 - val_accuracy: 0.8158
Epoch 85/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3084 - accuracy: 0.8876 - val_loss: 0.5126 - val_accuracy: 0.8158
Epoch 86/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3088 - accuracy: 0.8863 - val_loss: 0.5095 - val_accuracy: 0.8158
Epoch 87/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3084 - accuracy: 0.8943 - val_loss: 0.5120 - val_accuracy: 0.8158
Epoch 88/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3069 - accuracy: 0.8901 - val_loss: 0.5121 - val_accuracy: 0.8158
Epoch 89/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3075 - accuracy: 0.8882 - val_loss: 0.5118 - val_accuracy: 0.8158
Epoch 90/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3036 - accuracy: 0.8906 - val_loss: 0.5156 - val_accuracy: 0.8158
Epoch 91/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3038 - accuracy: 0.8906 - val_loss: 0.5146 - val_accuracy: 0.8158
Epoch 92/100
15/15 [==============================] - 0s 18ms/step - loss: 0.3003 - accuracy: 0.8876 - val_loss: 0.5201 - val_accuracy: 0.8158
Epoch 93/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3048 - accuracy: 0.8870 - val_loss: 0.5178 - val_accuracy: 0.8158
Epoch 94/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3072 - accuracy: 0.8915 - val_loss: 0.5198 - val_accuracy: 0.8158
Epoch 95/100
15/15 [==============================] - 0s 19ms/step - loss: 0.2951 - accuracy: 0.8837 - val_loss: 0.5224 - val_accuracy: 0.8158
Epoch 96/100
15/15 [==============================] - 0s 19ms/step - loss: 0.3027 - accuracy: 0.8884 - val_loss: 0.5267 - val_accuracy: 0.8158
Epoch 97/100
15/15 [==============================] - 0s 22ms/step - loss: 0.2918 - accuracy: 0.8867 - val_loss: 0.5246 - val_accuracy: 0.8158
Epoch 98/100
15/15 [==============================] - 0s 19ms/step - loss: 0.2963 - accuracy: 0.8899 - val_loss: 0.5295 - val_accuracy: 0.8158
Epoch 99/100
15/15 [==============================] - 0s 20ms/step - loss: 0.3058 - accuracy: 0.8823 - val_loss: 0.5266 - val_accuracy: 0.8333
Epoch 100/100
15/15 [==============================] - 0s 19ms/step - loss: 0.2855 - accuracy: 0.8858 - val_loss: 0.5320 - val_accuracy: 0.8158